@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    justify-content: center;
    text-align: center;
    /* align-items: center; */
    background-color: #222;
    /* color: pink;*/
} 
.container {
    margin-left: 75vh;
    margin-top: 5vh;
    height: 90vh;
    width: 500px;
    background-color: #fff;
}

.container h1 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 90px;
    color: pink;
}

.container #input {
    width: 90%;
    height: 50px;
    margin-top: 25px;
}

.container .input {
    width: 90%;
    height: 50px;
    margin-top: 25px;
}

.one {
    margin-top: 100px;
}

label {
    font-family: 'Poppins', sans-serif;
    color: pink;
}

.continue {
    margin-left: 120px;
    padding-top: 5px;
    color: white;
    width: 250px;
    height: 45px;
    border-radius: 20px;
    background-color: rgb(211, 118, 118);
}
.continue a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 28px;
}

.google {
    margin-top: 30px;
    margin-left: 120px;
    border: 5px solid pink;
    display: flex;
    width: 240px;
    height: 50px;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

.google a {
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top: 5px;
    padding-right: 5px;
    margin-top: -2px;
}

.google img {
    width: 30px;
    height: 30px;
    padding: 7px;
    padding-top: 10px;
    margin-right: 2px;
}

#lol {
    padding-top: 30px;
}

#glg {
    font-family: sans-serif;
}